// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

article p{
    text-align:justify;
}

header[role="banner"] {
     background-image: url(/images/heygate_estate.jpg);
     background-repeat: no-repeat;
}


